:root {
  --dark: #2e3436;
  --purple: #333399;
  --light: #ededed;
  --red: #cc0000;
  --orange: #f57900;

  --dynamic-font-size: calc(12px + 4 * ((100vw - 300px) / (600 - 300)));
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO: Dark theme colors */
  }
}
