<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="theme-color" content="#000000" />

        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" href="style.css" />
        <title>Time Tracker</title>
    </head>
    <body>
        <div id="time-tracker" :class="{ loaded: 1 }">
            <main>
                <div class="new-task-container">
                    <input
                        class="new-task"
                        type="text"
                        placeholder="New task"
                        @keyup.enter="inputTask()"
                        v-model="nextTaskName"
                    />
                </div>

                <task
                    v-for="task in rootTasks"
                    :key="task.id"
                    v-bind="{ task }"
                    @add-task="addTask($event)"
                    @remove-task="removeTask($event)"
                    @reset-task="resetTask($event)"
                    @start-task="startTask($event)"
                    @stop-task="stopTask($event)"
                    @set-parent-id="setParentId($event)"
                    @change-timeslot-begin="changeTimeslotBegin($event)"
                    @change-timeslot-end="changeTimeslotEnd($event)"
                >
                </task>

                <div v-if="tasks.length > 0">
                    <button type="button" @click="clearAll()">Clear all</button>
                </div>
            </main>
        </div>

        <script type="x-template" id="task">
            <div
                class="task"
                draggable="true"
                :class="{ active: task.isActive, dropzone: dropzone, dragging: dragging }"
            >
                <div class="task-info">
                    <span v-if="!editName" class="task-name" @click="editName = true">{{task.name}}</span>
                    <input type="text" class="task-name edit" placeholder="Task name"
                        v-if="editName" v-model="task._source.name" @keyup.enter="editName = false" />
                    <span class="task-duration" v-text="formatDuration(task.duration, { showZero: false })"></span>
                </div>

                <div class="controls">
                    <button v-if="task.isActive" @click="$emit('stop-task', task.id)">
                        Stop
                    </button>
                    <button v-if="!task.isActive" @click="$emit('start-task', task.id)">
                        Continue
                    </button>
                    <button @click="$emit('remove-task', task.id)">Remove</button>
                    <button @click="$emit('reset-task', task.id)">Reset</button>
                    <button @click="$emit('add-task', { parentId: task.id })">
                        Add Sub Task
                    </button>
                </div>

                <div class="timeslots" v-if="task.timeslots.length">
                    <div v-for="timeslot in task.timeslots" :key="timeslot.id" class="timeslot">
                        <div class="timestamps">
                            <span @click="doEditBegin(timeslot.id)" v-if="!editBegin[timeslot.id]">{{timeslot.beginTime}}</span>
                            <span v-if="editBegin[timeslot.id]">
                                <input class="edit-time" type="text"
                                    :value="timeslot.beginTime" v-once
                                    @keyup.enter="changeTimeslotBegin(timeslot.id, $event.target.value)"
                                />
                            </span>
                            <span> - </span>
                            <span @click="doEditEnd(timeslot.id)" v-if="!editEnd[timeslot.id] && timeslot.endTime">{{timeslot.endTime}}</span>
                            <span @click="doEditEnd(timeslot.id)" v-if="!editEnd[timeslot.id] && !timeslot.endTime">...</span>
                            <span v-if="editEnd[timeslot.id]">
                                <input type="text" class="edit-time"
                                    :value="timeslot.endTime" v-once
                                    @keyup.enter="changeTimeslotEnd(timeslot.id, $event.target.value)"
                                />
                            </span>
                        </div>
                        <span class="timeslot-duration" v-text="formatDuration(timeslot.duration, { showZero: false })"></span>
                    </div>
                </div>

                <div class="subtasks" v-if="task.subTasks.length">
                    <task
                        v-for="subTask in task.subTasks"
                        :key="subTask.id"
                        v-bind="{ task:subTask }"
                        @add-task="$emit('add-task', $event)"
                        @remove-task="$emit('remove-task', $event)"
                        @reset-task="$emit('reset-task', $event)"
                        @start-task="$emit('start-task', $event)"
                        @stop-task="$emit('stop-task', $event)"
                        @set-parent-id="$emit('set-parent-id', $event)"
                        @change-timeslot-begin="$emit('change-timeslot-begin', $event)"
                        @change-timeslot-end="$emit('change-timeslot-end', $event)"
                    />
                </div>
            </div>
        </script>

        <script src="vue-2.6.6.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
