@dark: #2e3436;
@purple: #333399;
@light: #ededed;

* {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

html {
    // Minimum font-size (usually 12px)
    font-size: 75%;
}

@media screen and (min-width: 300px) {
    html {
        // Between 300px and 600px: dynamically scale from 12px to 16px
        font-size: ~"calc(12px + 4 * ((100vw - 300px) / (600 - 300)))";
    }
}

@media screen and (min-width: 600px) {
    html {
        // Maximum font-size (usually 16px)
        font-size: 100%;
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: @dark;
}

#time-tracker {
    padding: 2em;
    margin: 2em auto 0 auto;
    display: none;
    max-width: 600px;
    color: @dark;
    background-color: white;
    border-radius: 5px;

    &.loaded {
        display: flex;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        padding: 0 0 0 1em;
        margin: 0;
    }

    button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
        background: 0 0;
        border: 1px solid lightgray;
        box-shadow: 1px 1px 1px 0 lightgrey;
        outline: 0;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 2px 0 @purple;
        }
    }

    .top-container {
        position: relative;
        justify-content: center;
        display: flex;
        align-items: center;

        .spacer {
            flex: 1;
        }

        input.new-task {
            font-size: 1em;
            padding: 0.8em 1.2em;
            box-shadow: 0 0 1px 0 lightgrey, 1px 1px 2px grey;
            border: 0;
            flex: 2;
        }

        .total-duration {
            color: #888a85;
            text-align: right;
            font-size: 1em;
            flex: 1;
            margin-left: 0.5em;
            visibility: hidden;

            &.visible {
                visibility: visible;
            }

            > .clock {
                margin-left: 0.1em;
            }
        }
    }

    .remove-all-container {
        margin-top: 1em;
        text-align: center;

        .remove-all {
            .text {
                margin-left: 0.5em;
                display: none;
            }
            &:hover {
                .text {
                    display: inline;
                }
            }
        }
    }

    .task {
        margin: 2em 0 0 0;
        box-shadow: 0 0 1px 0 lightgrey, 1px 1px 2px grey;

        ~ .task {
            margin-top: 1em;
        }

        &.subtask {
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            ~ .subtask {
                margin-top: 1em;
            }
        }

        &.dropzone {
            box-shadow: 0 0 2px 2px @purple;
        }

        &.dragging {
            opacity: 0.5;
        }

        > .task-head {
            padding: 0;
            background-color: @dark;
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            > .left,
            > .right {
                flex: 2;
            }

            > .left {
                display: flex;

                > button {
                    flex: 1;
                    visibility: hidden;
                    padding: 0.5rem;
                    border: none;
                    box-shadow: none;
                    color: @light;

                    &.add-subtask > i {
                        font-size: 1.2em;
                    }

                    &.toggle-collapse > i {
                        font-size: 1.2em;
                    }

                    &:hover {
                        background-color: white;
                        color: @purple;
                    }
                }

                > span {
                    visibility: hidden;
                }

                &:hover {
                    > span {
                        visibility: visible;
                    }

                    cursor: pointer;
                }
            }

            &:hover > .left > button {
                visibility: visible;
            }

            > .center {
                flex: 4;

                .task-name {
                    padding: 0.5em 0;
                    flex: 6;
                    text-align: center;

                    &:hover {
                        cursor: text;
                    }

                    &.edit {
                        width: 100%;
                        font-size: 1em;
                        border: none;
                        outline: none;
                    }
                }
            }

            > .right {
                .task-duration {
                    flex: 1;
                    font-size: 0.9em;
                    font-weight: bold;
                    text-align: right;
                    padding-right: 1em;
                }
            }
        }

        &.subtask > .task-head {
            background-color: #d3d7cf;
            color: @dark;

            > .left > button {
                color: @dark;

                &:hover {
                    background-color: white;
                    color: @purple;
                }
            }
        }

        &.active {
            > .task-head {
                background-color: @purple;
                color: white;

                > .left > button {
                    color: white;

                    &:hover {
                        color: @purple;
                    }
                }
            }
        }

        > .task-controls {
            display: flex;

            > button {
                flex: 1;
            }
        }

        > .task-body {
            padding: 0.5em 1em;

            .timeslots {
                .timeslot {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.25em 0;

                    > .timeslot-controls {
                        flex: 1;

                        > .timeslot-control {
                            display: none;
                            color: @dark;
                            padding: 0.35em;

                            &:hover {
                                cursor: pointer;
                                color: @purple;

                                &.timeslot-remove {
                                    color: #cc0000;
                                }
                            }
                        }
                    }

                    &:hover {
                        > .timeslot-controls > .timeslot-control {
                            display: inline;
                        }
                    }

                    .timeslot-period {
                        flex: 2;
                        text-align: center;
                        display: flex;

                        .timeslot-begin {
                            flex: 4;
                            text-align: right;

                            > .edit-time {
                                text-align: right;
                            }

                            &:hover {
                                cursor: text;
                            }
                        }

                        .timeslot-separator {
                            flex: 1;
                        }

                        .timeslot-end {
                            flex: 4;
                            text-align: left;

                            &:hover {
                                cursor: text;
                            }
                        }

                        .edit-time {
                            width: 3em;
                            border: none;
                            font-size: 1em;
                            outline: none;
                            padding: 0;
                            font-weight: bold;
                        }
                    }

                    &.active .timeslot-end {
                        font-weight: bold;
                        color: @purple;
                    }

                    .timeslot-right {
                        flex: 1;
                        text-align: right;

                        .timeslot-duration {
                            font-size: 0.9em;
                            text-align: right;
                        }
                    }
                }
            }
        }

        &.collapsed {
            > .task-body {
                display: none;
            }
        }
    }

    main {
        flex: 1;
    }
}
